header{
    /* opacity; */
}
.bio{
    margin:1rem auto;
}

.bio-div{
    color:white;
    font-family: "Helvetica Neue",sans-serif;
    font-size:1rem;
    margin:0 auto 2rem;
    text-shadow: 1px 1px black 

}

.bio-txt{
    font-size:1rem;
    color:white;
    line-height: 29px;
    margin-bottom:1rem;
    padding-bottom:2rem;
    text-shadow: .7px .7px 1px black ;
    font-weight: bolder;
    /* opacity:110; */
    /* background-color:white; */
    
}

nav{
    position: static;
}

.logo{
    position:absolute;
}
.title{
    margin:2.4rem auto;
    color:white;
    font-family: 'Great Vibes', cursive;
    font-size:3em;
    justify-content:center;
    text-shadow: 1px 1px black 

}

.main{
    position:absolute;
}

.menu, .logo{
    font-size:1.6rem;
    font-weight:bold;
    text-shadow: 1px 1px black 

}

.pic{
    height:1rem;
    width:1rem;
}